footer(
    class="footer-2"
    role="contentinfo"
    itemscope
    itemtype="https://schema.org/WPFooter")

    div

        div

            ul

                li

                    a(href="#")

                        svg(role="img" title="Logo")

                            use(xlink:href="/assets/images/_sprites/symbols.svg#footer-2-anatomy")

                li &copy; 2019, Clipwise LLC All Rights Reserved.

        div

            ul

                li: a(href="/privacy") Privacy Policy
                li: a(href="/tos") Terms of Service
                li: a(href="/support") Support for Zoom

        div

            table(class="vcard")

                thead

                    tr

                        th(colspan="2" class="org") Contact

                tbody

                    tr
                        td: svg: use(xlink:href="/assets/images/_sprites/symbols.svg#footer-2-telegram")
                        td: a(href="https://t.me/anatomysupport") Telegram Messenger

                    tr
                        td: svg: use(xlink:href="/assets/images/_sprites/symbols.svg#footer-2-phone")
                        td(class="tel"): a(href="tel:646-809-2140") 646-809-2140

        div

            ul

                li

                    a(href="https://t.me/anatomyupdates")

                        svg(role="img" title="Get updates from us on Telegram")

                            use(xlink:href="/assets/images/_sprites/symbols.svg#footer-2-telegram")


                li

                    a(href="https://www.linkedin.com/company/28169187/")

                        svg(role="img" title="Connect with us on LinkedIn")

                            use(xlink:href="/assets/images/_sprites/symbols.svg#footer-2-linkedin")
