section(class="canvas front" id="privacyfront")

    div(class="content")

        h3 Meeting collaboration, simplified.

        div

            p A new kind of communication tool for web conferencing users to keep track of important conversations...privately.

