extends ../root

block body

    body(id=bodyId class=bodyClass)

        block header

            +header-1("/#front", "header-1-logo", "Clipwise", [
                {
                    href: "/#section-1",
                    name: "Overview"
                },
                {
                    href: "/#section-2",
                    name: "Features"
                },
                {
                    href: "/#section-3",
                    name: "Use Cases"
                },
                {
                    href: "/#section-4",
                    name: "Pricing"
                }
            ])

        block main

        block footer

            include ../../components/footers/2/_

        //- end-of-body script insertion
        block inject

        //- compatibility
        noscript This application require JavaScript, please enable it.
