section(class="canvas front" id="front")

    div(class="content")

        h2 Recording Insights, Simplified.

        div

            p A new kind of communication tool for web conferencing users to manage and share recording clips.

            div

                a(href="#front") Get Anatomy for Free

    +nav-1("section-1")
