section(class="canvas front" id="front")

    div(class="content")

        h1 Collaborate smarter, not harder.

        div

            p A new kind of communication tool for Zoom users to collaborate more effectively with recording clips.

            div

                a(href="https://www.meetingbird.com/l/jcd/30min") Request A Demo

    +nav-1("section-1")
