section(class="canvas front" id="front")

    div(class="content")

        h3 Recording Insights, Simplified.

        div

            p A new kind of communication tool for frequent users of web conferencing to easily manage and share recording clips.

            div

                a(href="#section-2") Button 1
                a(href="#section-3") Button 2

    +nav-1("section-1")
