section(class="canvas front" id="front")

    div(class="content")

        h3 Free Personal Storage for Recorded Meetings & Shared Clips

        div

            p Anatomy is a private space for you to collaborate on just the important moments. 
            p Why send the whole recording when you can easily send a clip?

            div

                a(href="#section-2") Button 1
                a(href="#section-3") Button 2

    +nav-1("section-1")
