section(class="canvas front" id="front")

    div(class="content")
            
        h1 Note-taking & recaps, reimagined.
            
        div
            
            p A new kind of communication tool for Zoom Pro, Business, & Enterprise users to collaborate more effectively with recording clips.

            div

                a(href="") Get Anatomy for Free
                a(href="") Sign In

    +nav-1("section-1")
