section(class="canvas front" id="front")

    div(class="content")

        h1 Make Zoom Your Best Knowledge Base

        div

            p Collaborate with automated clips from your recordings. 

            div

                a(href="https://www.meetingbird.com/l/jcd/30min") Let's Talk

    +nav-1("section-1")
