section(class="canvas front" id="front")

    div(class="content")
    
        h2 Clipwise
        
        h3 The collaboration platform for teams using Zoom.
        
        div

            p Empower your team to collaborate on automated video clips and build knowledge around voices, not notes.

            div

                a(href="https://meet.gmelius.com/clipwise/demo" target="_blank" rel="noopener noreferrer") Schedule Demo

    +nav-1("section-1")
