section(class="canvas front" id="front")

    div(class="content")
    
        h2 Clipwise
        
        h3 Easily revisit and share the highlights from your team's Zoom meetings.
        
        div

            p Get automated video clips to collaborate on what happened before and what to do next.

            div
                
                a(href="https://app.clipwise.com" target="_blank" rel="noopener noreferrer") Get Started
                a(href="https://calendly.com/clipwise/45min" target="_blank" rel="noopener noreferrer") Schedule Demo

    +nav-1("section-1")
