section(class="canvas front" id="front")

    div(class="content")

        h3 Meeting collaboration, simplified.

        div

            p A new kind of communication tool for web conferencing users to manage and share recording clips.

            div

                a(href="https://anatomy-one-rewrite.herokuapp.com/users/sign_in") Sign Up / Sign In

    +nav-1("section-1")
