section(class="canvas front" id="front")

    div(class="content")

        h1 Collaborate smarter, not harder.

        div

            p A new kind of communication tool for video conference users to collaborate more effectively with recording clips.

            div

                a(href="https://app.anatomy.one/users/sign_in") Get Clipwise for Free
                a(href="https://app.anatomy.one/users/sign_in") Sign In

    +nav-1("section-1")
