section(class="canvas front" id="front")

    div(class="content")
            
        h3 Become a collaboration leader.
            
        div
            
            p A new kind of communication tool that helps Zoom users create and share clips from recordings.

            div

                a(href="https://anatomy-one-rewrite.herokuapp.com/users/sign_in") Get Anatomy for Free
                a(href="https://anatomy-one-rewrite.herokuapp.com/users/sign_in") Sign In

    +nav-1("section-1")
