section(class="canvas front" id="front")

    div(class="content")

        h3 Free Recording Storage for Personal Use

        div

            p Anatomy is a safe place for you to create and share recording clips. Why send a whole recording when you can easily send a clip?

            div

                a(href="#section-2") Button 1
                a(href="#section-3") Button 2

    +nav-1("section-1")
