section(class="canvas front" id="front")

    div(class="content")

        h2 Anatomy
            
        h3 Note-taking & recaps, reimagined.
            
        div
            
            p A new kind of communication tool that helps Zoom users create clips from recordings and become better collaborators.

            div

                a(href="https://anatomy-one-rewrite.herokuapp.com/users/sign_in") Get Anatomy for Free
                a(href="https://anatomy-one-rewrite.herokuapp.com/users/sign_in") Sign In

    +nav-1("section-1")
