section(class="canvas front" id="front")

    div(class="content")
    
        h2 Clipwise
        
        h3 Make Video Your Best Knowledge Base
        
        div

            p Collaborate around automated clips from Zoom recordings.

            div

                a(href="https://www.meetingbird.com/l/jcd/demo") Schedule Demo

    +nav-1("section-1")
