section(class="canvas front" id="privacyfront")

    div(class="content")

        h3 Privacy Policy 

        div

        p. 
        Last Updated: August 5, 2018
        p. 
            We take your privacy seriously. Please read the following to learn more about our Privacy Policy. By using or accessing the Services in any manner, you acknowledge that you accept the practices and policies outlined in this Privacy Policy, and you hereby consent that we will collect, use, and share your information in the following ways.
        h5 What does this privacy policy cover?    
        p.
            This Privacy Policy covers our treatment of personally identifiable information (“Personal Data”) that we gather when you are accessing or using our Services, but not to the practices of companies we don’t own or control, or people that we don’t manage. We gather various types of Personal Data from our users, as explained in more detail below, and we use this Personal Data internally in connection with the provision of our Services, to allow you to set up a user account, to contact you, to fulfill your requests for our products and services, and to analyze how you use the Services. In certain cases, we may also share some Personal Data with third parties, but only as described below.
        p.
             We do not knowingly collect or solicit personal information from or about anyone under the age of 13 or under the age of 16 in countries subject to the EU General Data Protection (the “GDPR”), unless exempted by individual countries exceptions (for more information see our Privacy Notice for EU Residents). If you are under 13, or 16 where applicable, please do not attempt to register for the Services or send any personal information about yourself to us. If we learn that we have collected personal information from or about a child under the required minimum age, we will delete that information as quickly as possible. If you believe that a child under the required minimum age may have provided us personal information, please contact us at support@anatomy.one.   
        h6 EU Residents
        p.
            If you are a resident of the European Union (“EU”), United Kingdom, Lichtenstein, Norway, or Iceland, you may have additional rights under the the GDPR with respect to your Personal Data, as outlined below in our Privacy Notice for EU Residents.
        h6 Will Anatomy Ever Change This Privacy Policy?
        p.
            We update and improve our Services from time to time, so we may need to change this Privacy Policy from time to time as well, but we will alert you to changes by placing a notice on the Anatomy website or via the Services, by sending you an email, and/or by some other means. Please note that if you’ve opted not to receive legal notice emails from us (or you haven’t provided us with your email address), those legal notices will still govern your use of the Services, and you are still responsible for reading and understanding them. If you use the Services after any changes to the Privacy Policy have been posted, that means you agree to all of the changes. Use of information we collect now is subject to the Privacy Policy in effect at the time such information is collected.
        h5 What Information Does Anatomy Collect?
        h6 Information You Provide to Us
        p.
            We receive and store any information you knowingly provide to us. For example, through the registration process and/or through your account settings, we may collect Personal Data such as your name, email address, and payment information. Certain information may be required to register with us or to take advantage of some of our features. Please note that Anatomy cannot monitor the content of any Customer Materials to determine whether they contain information that would qualify as Personal Data. Although it is Anatomy’s policy not to use or disclose Customer Materials except as necessary to offer the Services to you, Anatomy cannot, and does not assume any obligation to, de-identify or remove any such information before such Customer Materials are processed in connection with the Services. Accordingly, we may communicate with you if you’ve provided us the means to do so. For example, if you’ve given us your email address, we may send you information about our products and features of the service that are available to you. If you do not want to receive communications from us, please indicate your preference by sending an email to support@anatomy.one.
        h6 Information Collected Automatically
        p.
            Whenever you interact with our Services, we automatically receive and record information on our server logs from your browser or device, which may include your IP address, device identification, “cookie” information, the type of browser and/or device you’re using to access our Services, and the page or feature you requested. “Cookies” are identifiers we transfer to your browser or device that allow us to recognize your browser or device and tell us how and when pages and features in our Services are visited and by how many people. You may be able to change the preferences on your browser or device to prevent or limit your device’s acceptance of cookies, but this may prevent you from taking advantage of some of our features. 
        p.
            We may use this data to provide a better experience for you while you use the Services, such as remembering your login information, if you’ve chosen to remain logged in after ending your session. We may also use it to improve the Services – for example, this data can tell us how often users use a particular feature of the Services, and we can use that knowledge to make the Services interesting to as many users as possible.
        h5 Information About Cookies
        p.
            We use your IP address to help diagnose problems with our server, to administer our Services, and to analyze traffic patterns on the Services. The Services also use cookies and similar technologies such as local storage, pixel tags, web beacons, clear GIFs, and JavaScript (collectively, “Cookies”) to enable our servers to recognize your web browser and tell us how and when you visit and use our Site and Services, to analyze trends, learn about our user base and operate and improve our Services. Cookies are small files – usually consisting of letters and numbers – placed on your computer, tablet, phone, or similar device when you use that device to visit our Site. 
        p.  
            We sometimes combine information collected through Cookies that is not Personal Data with Personal Data that we have about you, for example, to tell us who you are or whether you have an account with us. We may also supplement the information we collect from you with information received from third parties.
        

