section(class="canvas front" id="privacyfront")

    div(class="content")

        h2 Meeting collaboration, simplified.

        div

            p Last Updated: August 5, 2018

            p We we take your privacy seriously. Please read the following to learn more about our Privacy Policy.

            p By using or accessing the Services in any manner, you acknowledge that you accept the practices and policies outlined in this Privacy Policy, and you hereby consent that we will collect, use, and share your information in the following ways.
            
        div
        
        h3 What does this privacy policy cover?    


