section(class="canvas front" id="privacyfront")

    div(class="content")

        h3 Privacy Policy 

        div

        p. 
        Last Updated: August 5, 2018
        p. 
            We take your privacy seriously. Please read the following to learn more about our Privacy Policy. By using or accessing the Services in any manner, you acknowledge that you accept the practices and policies outlined in this Privacy Policy, and you hereby consent that we will collect, use, and share your information in the following ways.
        h5 What does this privacy policy cover?    
        p.
            This Privacy Policy covers our treatment of personally identifiable information (“Personal Data”) that we gather when you are accessing or using our Services, but not to the practices of companies we don’t own or control, or people that we don’t manage. We gather various types of Personal Data from our users, as explained in more detail below, and we use this Personal Data internally in connection with the provision of our Services, to allow you to set up a user account, to contact you, to fulfill your requests for our products and services, and to analyze how you use the Services. In certain cases, we may also share some Personal Data with third parties, but only as described below.
        p.
             We do not knowingly collect or solicit personal information from or about anyone under the age of 13 or under the age of 16 in countries subject to the EU General Data Protection (the “GDPR”), unless exempted by individual countries exceptions (for more information see our Privacy Notice for EU Residents). If you are under 13, or 16 where applicable, please do not attempt to register for the Services or send any personal information about yourself to us. If we learn that we have collected personal information from or about a child under the required minimum age, we will delete that information as quickly as possible. If you believe that a child under the required minimum age may have provided us personal information, please contact us at support@anatomy.one.   
        h6 EU Residents
        p.
            If you are a resident of the European Union (“EU”), United Kingdom, Lichtenstein, Norway, or Iceland, you may have additional rights under the the GDPR with respect to your Personal Data, as outlined below in our Privacy Notice for EU Residents.
        h6 Will Anatomy Ever Change This Privacy Policy?
        p.
            We update and improve our Services from time to time, so we may need to change this Privacy Policy from time to time as well, but we will alert you to changes by placing a notice on the Anatomy website or via the Services, by sending you an email, and/or by some other means. Please note that if you’ve opted not to receive legal notice emails from us (or you haven’t provided us with your email address), those legal notices will still govern your use of the Services, and you are still responsible for reading and understanding them. If you use the Services after any changes to the Privacy Policy have been posted, that means you agree to all of the changes. Use of information we collect now is subject to the Privacy Policy in effect at the time such information is collected.
        h5 What Information Does Anatomy Collect?
        h6 Information You Provide to Us
        p.
            We receive and store any information you knowingly provide to us. For example, through the registration process and/or through your account settings, we may collect Personal Data such as your name, email address, and payment information. Certain information may be required to register with us or to take advantage of some of our features. Please note that Anatomy cannot monitor the content of any Customer Materials to determine whether they contain information that would qualify as Personal Data. 
        p.     
            Although it is Anatomy’s policy not to use or disclose Customer Materials except as necessary to offer the Services to you, Anatomy cannot, and does not assume any obligation to, de-identify or remove any such information before such Customer Materials are processed in connection with the Services. Accordingly, we may communicate with you if you’ve provided us the means to do so. For example, if you’ve given us your email address, we may send you information about our products and features of the service that are available to you. If you do not want to receive communications from us, please indicate your preference by sending an email to support@anatomy.one.
        h6 Information Collected Automatically
        p.
            Whenever you interact with our Services, we automatically receive and record information on our server logs from your browser or device, which may include your IP address, device identification, “cookie” information, the type of browser and/or device you’re using to access our Services, and the page or feature you requested. “Cookies” are identifiers we transfer to your browser or device that allow us to recognize your browser or device and tell us how and when pages and features in our Services are visited and by how many people. You may be able to change the preferences on your browser or device to prevent or limit your device’s acceptance of cookies, but this may prevent you from taking advantage of some of our features. 
        p.
            We may use this data to provide a better experience for you while you use the Services, such as remembering your login information, if you’ve chosen to remain logged in after ending your session. We may also use it to improve the Services – for example, this data can tell us how often users use a particular feature of the Services, and we can use that knowledge to make the Services interesting to as many users as possible.
        h5 Information About Cookies
        p.
            We use your IP address to help diagnose problems with our server, to administer our Services, and to analyze traffic patterns on the Services. The Services also use cookies and similar technologies such as local storage, pixel tags, web beacons, clear GIFs, and JavaScript (collectively, “Cookies”) to enable our servers to recognize your web browser and tell us how and when you visit and use our Site and Services, to analyze trends, learn about our user base and operate and improve our Services. Cookies are small files – usually consisting of letters and numbers – placed on your computer, tablet, phone, or similar device when you use that device to visit our Site. 
        p.  
            We sometimes combine information collected through Cookies that is not Personal Data with Personal Data that we have about you, for example, to tell us who you are or whether you have an account with us. We may also supplement the information we collect from you with information received from third parties.
        p.
            Cookies can either be “session Cookies” or “persistent Cookies”. Session Cookies are temporary Cookies that are stored on your device while you are visiting our Site or using our Services, whereas “persistent Cookies” are stored on your device for a period of time after you leave our Site or Services. The length of time a persistent Cookie stays on your device varies from Cookie to Cookie. We use persistent Cookies to store your preferences so that they are available for the next visit, and to keep a more accurate account of how often you visit our Services, how often you return, how your use of the Services may vary over time. 
        p.
            We also use persistent Cookies to measure the effectiveness of advertising efforts. Through these Cookies, we may collect information about your online activity after you leave our Services. Your browser may offer you a “Do Not Track” or “DNT” option, which allows you to signal to operators of websites, and web applications, and services that you do not wish such operators to track certain of your online activities over time and across different websites. Because we collect browsing and persistent identifier data, the Services do not support Do Not Track requests at this time, which means that we may collect information about your online activity both while you are using the Services and after you leave our properties.
        p.
            Some Cookies are placed by a third party on your device and may provide information to us and third parties about your browsing habits (such as your visits to our Site or Services, the pages you have visited and the links and advertisements you have clicked). These Cookies can be used to determine whether certain third party services are being used, to identify your interests, to retarget advertisements to you and to serve advertisements to you that we or others believe are relevant to you. We do not control third party Cookies.
        h5 We use the following types of Cookies:
        h6 Essential Cookies
        p.
            Essential Cookies are required for providing you with features or services that you have requested. For example, certain Cookies enable you to log into secure areas of our Site or Services. Disabling these Cookies may make certain features and services unavailable.
        h6 Functional Cookies
        p.
            Functional Cookies are used to record your choices and settings regarding our Services, maintain your preferences over time and recognize you when you return to our Services. These Cookies help us to personalize our content for you, greet you by name, and remember your preferences.
        h6 Performance/Analytical Cookies
        p.
            Performance/Analytical Cookies allow us to understand how visitors use our Site and Services such as by collecting information about the daily number of visitors to the Services, the daily requests we receive for particular files on the Services, and what geographical areas those requests come from. These aggregated statistics are used internally to better provide services to the public and may also be provided to others. Performance/Analytical Cookies also help us measure the performance of our advertising campaigns in order to help us improve our campaigns and the Services’ content for those who engage with our advertising. For example, Google, Inc. (“Google”) uses cookies in connection with its Google Analytics services. Google’s ability to use and share information collected by Google Analytics about your visits to the Services is subject to the Google Analytics Terms of Use and the Google Privacy Policy. You have the option to opt out of Google’s use of cookies by visiting the Google advertising opt-out page at www.google.com/privacy_ads.html or the Google Analytics Opt-out Browser Add-on at https://tools.google.com/dlpage/gaoptout/.
        p.
            You can decide whether or not to accept Cookies. One way you can do this is through your internet browser’s settings. Most browsers have an option for turning off the Cookie feature, which will prevent your browser from accepting new Cookies, as well as (depending on the sophistication of your browser software) allow you to decide on acceptance of each new Cookie in a variety of ways. You can also delete all Cookies that are already on your computer. If you do this, however, you may have to manually adjust some preferences every time you visit a site and some Services and functionalities may not work.
        p.
            To explore what Cookie settings are available to you, look in the “preferences” or “options” section of your browser’s menu. To find our more information about Cookies, including information about how to manage and delete Cookies, please visit https://ico.org.uk/for-the-public/online/cookies/or http://www.allaboutcookies.org/.
        h5 Will Anatomy Share Any of the Personal Data it Receives?
        p.
            We do not rent or sell your Personal Data in personally identifiable form to anyone. We may share your Personal Data with third parties as described in this section:
        h6 Information that’s been de-identified
        p.
            We may provide aggregate usage information to our partners, who may use such information to understand how often and in what ways people use our Services. However, we never disclose aggregate usage information to a partner (or allow a partner to collect such information) in a manner that would identify you as an individual person.
        h6 Agents
        p.
            We employ other companies and people to perform tasks on our behalf and need to share your information with them to provide products or services to you; for example, we may use a payment processing company to receive and process your credit card transactions for us. Unless we tell you differently, our agents do not have any right to use the Personal Data we share with them beyond what is necessary to assist us.
        h6 Business Transfers
        p.
            If we (or substantially all of our assets related to the Services) are acquired, or if we go out of business, enter bankruptcy, or go through some other change of control, we may share and/or transfer Personal Data as one of the assets transferred to or acquired by a third party. The terms of this privacy policy will continue to apply to your Personal Data even after such transfer.
        h6 Protection of Anatomy and Others
        p.
            We reserve the right to access, read, preserve, and disclose any information that we believe is necessary to comply with law or court order; enforce or apply our Terms of Service and other agreements; or protect the rights, property, or safety of Anatomy, our employees, our users, or others.
        p.
            We do not share your Personal Data with third parties to enable direct marketing purposes. However, under California Civil Code Sections 1798.83–1798.84, California residents are entitled to contact us to prevent disclosure of Personal Data to third parties for such third parties’ direct marketing purposes; in order to submit such a request, please contact us at support@anatomy.one.
        h5 Is Personal Data About Me Secure?
        p. 
            Your account is protected by LinkedIn Oauth 2 authentication protocol for privacy and security. We endeavor to protect the privacy of your account and other Personal Data we hold in our records, but unfortunately, no provider can guarantee complete security. Unauthorized entry or use, hardware or software failure, and other factors, may compromise the security of user information. However, we’ve taken measures, including encryption of your Personal Data, to limit the impact of any such factors. If you notice a security breach or a security vulnerability on our website, please report it immediately to support@anatomy.one.
        h5 Data Retention Policy
        p.
            Anatomy takes data security and privacy very seriously. Data from your CRM, Google Calendar, Office 365, and other third party platforms required to deliver alerts, reports and other parts of the product will be retained for as long as you use our services. We strive to collect and retain the minimum surface of data necessary to support product functionality. In some cases we retain Personal Data for longer, if doing so is necessary to comply with our legal obligations, resolve disputes or collect fees owed, or is otherwise permitted or required by applicable law, rule or regulation.
        h5 Calendar Integration
        p.
            You can connect your Google Calendar or Office 365 with Anatomy to automate meeting recordings and make workflows around events on your calendar. Anatomy will not share your calendar events with third parties. If your Calendar is connected, we may store the minimal amount of data to be able to display calendar event data to you as a part of your enabled workflow(s).
        h5 Deletion of Customer Data
        p.
            Anatomy provides the option for Customers to delete Customer Data at any time. To remove all Anatomy data, send your request to support@anatomy.one. Your data will be deleted within 5 business days. Backups are destroyed within 30 days.
        h5 What Personal Data Can I Access?
        p.
            The information you can view, update, and delete may change as the Services change. If you have any questions about viewing or updating information we have on file about you, please contact us at support@anatomy.one.
        h5 What Choices Do I Have?
        p.
            You can always opt not to disclose information to us, but keep in mind some information may be needed to register with us or to take advantage of some of our features. You may be able to add, update, or delete information as explained above. When you update information, however, we may maintain a copy of the unrevised information in our records. 
        h5 What if I Have Questions About This Policy?
        p.
            If you have any questions or concerns regarding our privacy policies, please send a detailed message to support@anatomy.one, and we will try to resolve your concerns.
        h5 Privacy Notice for EU Residents
        p.
            For this section, we use the terms “Personal Data” and “processing” as they are defined in the GDPR, but “Personal Data” generally means information that can be used to individually identify a person, and “processing” generally covers actions that can be performed in connection with data such as collection, use, storage and disclosure. Anatomy will be the controller of your Personal Data processed in connection with the Services. Note that we may also process Personal Data of our customers’ end users or employees in connection with our provision of services to customers, in which case we are the processor of Personal Data. If we are the processor of your Personal Data (i.e., not the controller), please contact the controller party in the first instance to address your rights with respect to such data.
        p.
            If there are any conflicts between this section and any other provision of this Privacy Policy, the policy or portion that is more protective of Personal Data shall control to the extent of such conflict. If you have any questions about this section or whether any of the following applies to you, please contact us at support@anatomy.one.
        h5 What Personal Data Do We Collect From You?
        p.
            We collect Personal Data about you when you provide such information directly to us, when third parties such as our business partners or service providers provide us with Personal Data about you, or when Personal Data about you is automatically collected in connection with your use of our Services. 
        h6 Information we collect directly from you
        p.
            Data, including without limitation the following:
            
            ul
                li: First and last name
                li: Time zone
                li: Application settings and preferences
                



