section(class="canvas front" id="privacyfront")

    div(class="content")

        h3 Privacy Policy 

        div

        p. 
        Last Updated: August 5, 2018
        p. 
            We take your privacy seriously. Please read the following to learn more about our Privacy Policy. By using or accessing the Services in any manner, you acknowledge that you accept the practices and policies outlined in this Privacy Policy, and you hereby consent that we will collect, use, and share your information in the following ways.
        h5 What does this privacy policy cover?    
        p.
            This Privacy Policy covers our treatment of personally identifiable information (“Personal Data”) that we gather when you are accessing or using our Services, but not to the practices of companies we don’t own or control, or people that we don’t manage. We gather various types of Personal Data from our users, as explained in more detail below, and we use this Personal Data internally in connection with the provision of our Services, to allow you to set up a user account, to contact you, to fulfill your requests for our products and services, and to analyze how you use the Services. In certain cases, we may also share some Personal Data with third parties, but only as described below.
        p.
             We do not knowingly collect or solicit personal information from or about anyone under the age of 13 or under the age of 16 in countries subject to the EU General Data Protection (the “GDPR”), unless exempted by individual countries exceptions (for more information see our Privacy Notice for EU Residents). If you are under 13, or 16 where applicable, please do not attempt to register for the Services or send any personal information about yourself to us. If we learn that we have collected personal information from or about a child under the required minimum age, we will delete that information as quickly as possible. If you believe that a child under the required minimum age may have provided us personal information, please contact us at support@anatomy.one.   
        h6 EU Residents

