section(class="canvas section-1" id="section-4")

    h2 How

    div(class="content")

        div

            img(src="images/home/section-2/_inline/share.svg" inline)

            article

                h2 Pricing

                p.
                    Start with $100 Credit.
                    
                p.    
                    Cancel anytime. No annual contract required. 
                    
                p.
                    Then move to simple, flexible pricing:

                p.
                    $0.029 per recording minute.

                p.
                    $0.05 / GB recording storage per month.
                    
                h4 Includes features such as:
                
                p.
                    - Unlimited Users
                    - Unlimited Recording Storage

    +nav-1("front", "prev")
