section(class="canvas section-3" id="section-3")

    h2 When

    div(class="content")

        div
            figure
                img(src="images/home/section-3/_inline/client.svg" inline)

            article

                h3 Customers
                p.
                    User interviews, inside sales, customer meetings. Distribute only the key moments.

        div
            figure
                img(src="images/home/section-3/_inline/team.svg" inline)

            article

                h3 Teams
                p.
                    Standups, town halls, weekly syncs. Revisit actionable meeting items.

        div
            figure
               img(src="images/home/section-3/_inline/selfie.svg" inline)

            article

                h3 Candidates
                p.
                    Candidate prep, onramp acceleration. Create continuity for success.

        div
            figure
                img(src="images/home/section-3/_inline/school.svg" inline)

            article

                h3 Individuals
                p.
                    1:1s, office hours, coaching, training. Self assess and improve.


    +nav-1("front", "prev")
