section(class="canvas section-4" id="section-4")

    h2 How

    div(class="content")

        div

            img(src="images/home/section-4/_inline/collaboration.svg" inline)

            article

                h2 Pricing

                p.
                    If you're similar to most teams using Zoom for remote work, you have ~100 meetings per week for every 10 users, record less than 50% of your meetings, and collaborate on less than 5% of those recordings. 

    +nav-1("section-4")
