section(class="canvas section-2" id="section-2")

    h2 How

    div(class="content")
    
        h3 Build Your Personal Library of Key Moments

        div

            svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h2 Tag
                p.
                    Organize and sort your recordings with a flexible tagging structure.

        div

            svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h2 Clip
                p.
                    Playback your recordings at adjustable speed and create clips.

        div

            svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h2 Share
                p.
                    Create self-recorded videos and timestamped notes for sharing context.

        div

            svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h2 Track
                p.
                    Know when someone has viewed your clips and shared with others.

    +nav-1("section-3")
