section(class="canvas section-3" id="section-3")

    h2 When

    div(class="content")

        div
            figure
                img(src="images/home/section-3/_inline/team.svg" inline)

            article

                h3 1:1 & Team Meetings
                p.
                    Internal meetings, coaching conversations, mentor sessions. What did you miss?

        div
            figure
                img(src="images/home/section-3/_inline/client.svg" inline)

            article

                h3 Customer Meetings
                p.
                    External meetings, investor conversations, sales calls. How can you improve?


    +nav-1("front", "prev")
