section(class="canvas section-2" id="section-2")

    h2 How

    div(class="content")
        
        div

            img(src="images/home/section-2/_inline/search.svg" inline)

            article

                h2 Tag
                p.
                    Organize and search your recordings with a flexible tagging structure.

        div

            img(src="images/home/section-2/_inline/clip.svg" inline)

            article

                h2 Clip
                p.
                    Playback your recordings at adjustable speed and quickly create clips.

        div

            img(src="images/home/section-2/_inline/share.svg" inline)

            article

                h2 Share
                p.
                    Create self-recorded intro videos and timestamped notes for sharing context.

        div

            img(src="images/home/section-2/_inline/track.svg" inline)

            article

                h2 Track
                p.
                    Know when recipients have viewed, liked, or commented on your clips.

    +nav-1("section-3")
