section(class="canvas section-3" id="section-3")

    h2 When

    div(class="content")

        div
            figure
                img(src="images/home/section-3/_inline/client.svg" inline)

            article

                h3 Market Conversations
                p.
                    Customer meetings, investor conversations, sales calls. Distribute voice clips.
                    
        div
            figure
                img(src="images/home/section-3/_inline/team.svg" inline)

            article

                h3 Recurring Meetings
                p.
                    1:1s, town halls, weekly syncs. Revisit key moments.
                    
        div
            figure
                img(src="images/home/section-3/_inline/school.svg" inline)

            article

                h3 Interviews & Onboarding
                p.
                    Candidate prep, 30/60/90s, accelerating onramp. Create continuity for success.

        div
            figure
                img(src="images/home/section-3/_inline/selfie.svg" inline)

            article

                h3 Learning Sessions
                p.
                    Office hours, coaching sessions, team trainings. Stay current and improve performance.


    +nav-1("front", "prev")
