section(class="canvas section-1" id="section-4")

    h2 How

    div(class="content")

        div

            img(src="images/home/section-2/_inline/share.svg" inline)

            article

                h2 Pricing

                p.
                    Start with $100 Credit. Then move to simple, flexible pricing:
                 
                p.  
                    Cancel anytime. No annual contract required.
                
                p.
                    $0.029 per recording minute.

                p.
                    $0.05 / GB recording storage per month.
                    
                h5 Includes features such as:
                    <ol>
                        <li>Unlimited Users</li>
                        <li>Unlimited Recording Storage</li> 
                    </ol>

    +nav-1("front", "prev")
