section(class="canvas section-3" id="section-3")

    h2 When

    div(class="content")

        div
            figure
                svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h3 Internal Meetings
                p.
                    Team meetings, coaching conversations, 1:1s. Keep a private history of all your important conversations. 

        div
            figure
                svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h3 External Meetings
                p.
                    Client meetings, investor conversations, sales calls. Self-reflect and share only the key moments with your team.

        div
            figure
                svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h3 Selfie Videos
                p.
                    Weekly checkins, web reviews, social posts. Use your web conferencing app to self record and send to other platforms.

        div
            figure
                svg: use(xlink:href="/assets/images/_sprites/symbols.svg#image")

            article

                h3 School Activities
                p.
                    Lectures, 1:1s, peer-to-peer note sharing. Work with your professors and classmates to stay current and improve reviews.


    +nav-1("front", "prev")
