section(class="canvas section-1" id="section-1")

    h2 Why

    div(class="content")

        div

            img(src="images/home/section-1/_inline/collaboration.svg" inline)

            article

                h2 Note-taking & recaps, reimagined.

                p.
                    Anatomy works natively with your video conferencing account to import videos. Create clips, then share and collaborate around just the key moments.

    +nav-1("section-2")
