section(class="canvas section-1" id="section-4")

    h2 How

    div(class="content")

        div

            img(src="images/home/section-2/_inline/share.svg" inline)

            article

                h2 Pricing

                h4 Start with $100 Credit
                
                p. 
                    Then move to simple, flexible pricing:
                    
                    <ul>
                        <li>$0.029 per recording minute</li>
                        <li>$0.05 / GB recording storage per month</li>
                    </ul>
                
                    Cancel anytime. No annual contract required.
                    
                h4 Includes the following features:
                    <ul>
                        <li>Unlimited users</li>
                        <li>Unlimited recording storage</li> 
                        <li>Recording playback/rewind</li>
                        <li>Automated clip generation</li>
                        <li>Clip & comment sharing</li>
                        <li>Powerful search</li>
                        <li>Google calendar integration</li>
                        <li>Salesforce integration</li>
                        <li>Slack integration</li>
                    </ul>

    +nav-1("front", "prev")
