section(class="canvas section-1" id="section-1")

    h2 Why

    div(class="content")

        div

            img(src="images/home/section-1/_inline/collaboration.svg" inline)

            article

                h2 Collaborate Smarter, Not Harder

                p.
                    Clipwise shifts your team's energy to conversations that help you scale and grow. 

    +nav-1("section-2")
