section(class="canvas section-1" id="section-1")

    h2 Why

    div(class="content")

        div

            img(src="images/home/section-1/_inline/collaboration.svg" inline)

            article

                h2 Smarter Collaboration

                p.
                    Anatomy works natively with Zoom's cloud recording to import your videos. Create clips, share, then collaborate on the most important moments.

    +nav-1("section-2")
