section(class="canvas section-1" id="section-1")

    h2 Why

    div(class="content")

        div

            img(src="images/home/section-1/_inline/collaboration.svg" inline)

            article

                h2 Collaborate Smarter, Not Harder

                p.
                    A typical company has ~200 meetings per week for every 10 users of Zoom. Less than 20% of those meetings get recorded and less than 5% of all recordings are ever get watched.

                p.
                
                    That's a lot of collective learnings getting buried in people's notebooks and potentially going to waste.

                p.
                    Clipwise surfaces the highest value moments in your recordings and speeds up the transfer of knowledge to the rest of your team. 

    +nav-1("section-2")
