section(class="canvas section-1" id="section-1")

    h2 Why

    div(class="content")

        div

            img(src="images/home/section-1/_inline/collaboration.svg" inline)

            article

                h2 Collaborate Smarter, Not Harder

                p.
                    If you're similar to most companies using Zoom for remote work, you have ~100 meetings per week for every 10 employees, record less than 30% of your meetings, and collaborate around less than 1% of those recordings.
                    
                p.
                
                    That's a lot of collective learnings getting captured in people's notebooks and not easily distributed.

                p.
                    Clipwise surfaces the highest value clips from your recordings, speeds up the transfer of knowledge to the rest of your team, fosters collaboration, and creates a permanent record using the ultimate source of truth...what people actually said. 

    +nav-1("section-2")
