section(class="canvas section-1" id="section-1")

    h2 Why

    div(class="content")

        div

            img(src="images/home/section-1/_inline/collaboration.svg" inline)

            article

                h2 Collaboration

                p.
                    Why send a whole recording when you can easily create and share clips? Share clips with groups or only those people that need them. Track and respond to their views, likes, and comments.

    +nav-1("section-2")
