section(class="canvas section-2" id="section-2")

    h2 How

    div(class="content")

        div

            img(src="images/home/section-2/_inline/clip.svg" inline)

            article

                h2 Enrich
                p.
                    Supplement Zoom recordings with CRM data.

        div

            img(src="images/home/section-2/_inline/search.svg" inline)

            article

                h2 Deliver
                p.
                    Deliver the most important clips to Slack.

        div

            img(src="images/home/section-2/_inline/share.svg" inline)

            article

                h2 Collaborate
                p.
                    Engage colleagues around the valuable moments.

        div

            img(src="images/home/section-2/_inline/track.svg" inline)

            article

                h2 Measure
                p.
                    Track team discussions and improvement.

    +nav-1("section-3")
