section(class="canvas section-3" id="section-3")

    h2 When

    div(class="content")

        div
            figure
                img(src="images/home/section-3/_inline/team.svg" inline)

            article

                h3 1:1 & Team Meetings
                p.
                    Team meetings, coaching conversations, 1:1s. Keep a private history of all your important conversations. 

        div
            figure
                img(src="images/home/section-3/_inline/client.svg" inline)

            article

                h3 Customer Meetings
                p.
                    Client meetings, investor conversations, sales calls. Self-reflect and share only the key moments with your team.

        div
            figure
                img(src="images/home/section-3/_inline/selfie.svg" inline)

            article

                h3 Social & Work Posts
                p.
                    Weekly checkins, web reviews, social posts. Use your web conferencing app to self record and send to other platforms.

        div
            figure
                img(src="images/home/section-3/_inline/school.svg" inline)

            article

                h3 Lectures & Notes
                p.
                    Lectures, office hours, peer-to-peer note sharing. Work with your professors and classmates to stay current and improve memory.


    +nav-1("front", "prev")
