section(class="canvas front" id="supportfront")

    div(class="content")

        h3 Support for Zoom

        div

        p Last Updated: February 11, 2021
        h4 Clipwise + Zoom Integration Overview
        h5 Each time you complete a recorded meeting in Zoom, Clipwise will automatically:
        p.
            (1) Import the recording and generate auto-clips. (2) Store the recording with Clipwise. (3) Provide a page for recording playback (ffwd, rwd, speed adjustment), clip creation, and clip collaboration. (4) Generate a shareable URL for the recording.
        h4 Installation
        
         h5 How to Install the Clipwise for Zoom Admins app
        p.
            (1) Navigate to Zoom marketplace. (2) Search for Clipwise for Zoom Admins and click the app. (3) Click Sign in to Install and Login to your Zoom account. (4) Confirm the permissions the app requires and choose Allow. (5) You will see confirmation of Installation page.

        div

            a(href="https://marketplace.zoom.us") Zoom Marketplace

        p.
            Clipwise is now installed on your Zoom account.<br> 
            Note: You will also need to enable Cloud recording downloads for all or each Zoom user account that will be using Clipwise. Every Zoom meeting recorded to the cloud will become available for import to your Clipwise account.

        div

            a(href="https://zoom.us/account/setting?tab=recording") Zoom Cloud Recording

        h5 How to remove the Clipwise for Zoom Admins app:
        p.
            (1) Login to your Zoom account and navigate to the Zoom marketplace. (2) Search for Clipwise for Zoom Admins and click the app or navigate to your authorized app via Manage Apps and choose Clipwise for Zoom Admins. (3) Choose the Manage tab and click Remove. (4) Confirm the dialogue and click OK.
        
        
        h5 How to Install the Clipwise for Zoom Users app
        p.
            (1) Navigate to Zoom marketplace. (2) Search for Clipwise for Zoom Users and click the app. (3) Click Sign in to Install and Login to your Zoom account. (4) Confirm the permissions the app requires and choose Allow. (5) You will see confirmation of Installation page.

        div

            a(href="https://marketplace.zoom.us") Zoom Marketplace

        p.
            Clipwise is now installed on your Zoom account.<br> 
            Note: You or your Zoom admin would also need to enable Cloud recording downloads of the primary account. Every Zoom meeting recorded to the cloud will become available for import to your Clipwise account.

        div

            a(href="https://zoom.us/account/setting?tab=recording") Zoom Cloud Recording

        h5 How to remove the Clipwise for Zoom Users app:
        p.
            (1) Login to your Zoom account and navigate to the Zoom marketplace. (2) Search for Clipwise for Zoom Users and click the app or navigate to your authorized app via Manage Apps and choose Clipwise. (3) Choose the Manage tab and click Remove. (4) Confirm the dialogue and click OK.
        
        h4 Usage
        h5 What can I do with the Clipwise for Zoom Admins or Clipwise for Zoom Users apps?
        p.
            (1) Supplement Zoom recordings with CRM data. (2) Deliver the most important clips to Slack. (3) Engage with colleagues on the valuable moments. (4) Track team discussions and acceleration.
        h5 Prerequisites
        p.
            Record to the cloud. Clipwise only works with Zoom if you record your meetings in the cloud so please enable Cloud recording for your account.
        div

            a(href="https://zoom.us/account/setting?tab=recording") Zoom Cloud Recording

        h4 Contact

        p.
            Our support hours are Mon-Fri from 9-5 (GMT-4:00) Eastern Time (US and Canada). You should expect a target response times of no more than 24 hours for all requests that are not Level 1, 2, or 3 as outlined below.
        p.
            You chat with us at:

        div

        p.
            support at clipwise.com
        p.
            Level 1 - The Service is not functioning or is materially unavailable. The Service is not available to a majority of Users, or the production system is down, or all features/functions are unavailable. - Target Response Time is 2 hours.
        p.
            Level 2 - The Service is functioning, but with significant impairment. The Service is not available to a significant proportion of Users or a major area of the Service is not functioning. Target Response Time is 4 hours.
        p.
            Level 3 - The Service is functioning but with minor impairment. The Service is not available to a small proportion of Users or a specific area of the Service is not functioning. Target Response Time is 8 hours.
