section(class="canvas front" id="supportfront")

    div(class="content")

        h3 Support for Zoom

        div

        p Last Updated: February 18, 2021
        h4 Clipwise + Zoom Integration Overview
        h5 Each time you complete a recorded meeting in Zoom, Clipwise will automatically:
        p.
            (1) Import the recording and generate auto-clips. (2) Store the recording with Clipwise. (3) Provide a page for recording playback (ffwd, rwd, speed adjustment), clip creation, and clip collaboration. (4) Generate a shareable URL for the recording.
        h4 Installation
        
         h5 How to Install the Clipwise for Zoom Admins app
        p.
            (1) Navigate to Zoom marketplace. (2) Search for Clipwise for Zoom Admins and click the app. (3) Click Sign in to Install and Login to your Zoom account. (4) Confirm the permissions the app requires and choose Allow. (5) You will see confirmation of Installation page.

        div

            a(href="https://marketplace.zoom.us") Zoom Marketplace

        p.
            Clipwise is now installed on your Zoom account.<br> 
            <b>Note:</b> You will also need to enable Cloud recording downloads for all or each Zoom user account that will be using Clipwise. Every Zoom meeting recorded to the cloud will become available for import to your Clipwise account.

        div

            a(href="https://zoom.us/account/setting?tab=recording") Zoom Cloud Recording

        h5 How to remove the Clipwise for Zoom Admins app:
        p.
            (1) Login to your Zoom account and navigate to the Zoom marketplace. (2) Search for Clipwise for Zoom Admins and click the app or navigate to your authorized app via Manage Apps and choose Clipwise for Zoom Admins. (3) Choose the Manage tab and click Remove. (4) Confirm the dialogue and click OK.
        
        
        h5 How to Install the Clipwise for Zoom Users app
        p.
            (1) Navigate to Zoom marketplace. (2) Search for Clipwise for Zoom Users and click the app. (3) Click Sign in to Install and Login to your Zoom account. (4) Confirm the permissions the app requires and choose Allow. (5) You will see confirmation of Installation page.

        div

            a(href="https://marketplace.zoom.us") Zoom Marketplace

        p.
            Clipwise is now installed on your Zoom account.<br> 
            <b>Note:</b> You or your Zoom admin would also need to enable Cloud recording downloads of the primary account. Every Zoom meeting recorded to the cloud will become available for import to your Clipwise account.

        div

            a(href="https://zoom.us/account/setting?tab=recording") Zoom Cloud Recording

        h5 How to remove the Clipwise for Zoom Users app:
        p.
            (1) Login to your Zoom account and navigate to the Zoom marketplace. (2) Search for Clipwise for Zoom Users and click the app or navigate to your authorized app via Manage Apps and choose Clipwise. (3) Choose the Manage tab and click Remove. (4) Confirm the dialogue and click OK.
        
        h4 Usage
        h5 What can I do with the Clipwise for Zoom Admins or Clipwise for Zoom Users apps?
        p.
            Overall, Clipwise can supplement Zoom recordings with CRM data, deliver the most important clips to Slack, help you collaborate with colleagues on valuable moments, and track team discussions.
        p.
            Here is how to get started:<br>
            (1) <b>View all meetings</b> - Once you've successfully installed the app, you will login and access the dashboard to view all of your recent meetings and import all or some of your recent recordings. Clipwise provides details (e.g. start time, duration) about the meetings to help you determine those that you would like to import.<br>
            (2) <b>View and manage meetings</b> - Clipwise makes it convenient to launch a Zoom meeting from your dashboard. A meeting topic is required to launch the meeting and you can optionally have the recording automatically imported upon completion.<br>
            (3) <b>View recordings</b> - You're unimported recordings will show up in the lower right of your dashboard where you can select all or specific recordings for import. Unimported recordings display in the calendar but need to be imported before the user can gain access to them in Clipwise.<br>
            (4) <b>View and manage recordings</b> - In your list of unimported recordings on the dashboard, you can delete a recording on the cloud without having to log in directly to your account on zoom.us.<br>
            (5) <b>View all user information</b> - If you are a Clipwise for Zoom admin, you will find a list of all Zoom users on your Settings page which will include their name, email, role, dept, license type, and whether they are configured for cloud recording.<br>
            (6) <b>View users information and manage users</b> - If you are a Clipwise for Zoom admin, you will also be able to turn on/off cloud recording for specific users in your Settings page. 
        
        h5 Prerequisites
        p.
            Record to the cloud. Clipwise only works with Zoom if you record your meetings in the cloud so please enable Cloud recording for your account.
        div

            a(href="https://zoom.us/account/setting?tab=recording") Zoom Cloud Recording

        h4 Contact

        p.
            Our support hours are Mon-Fri from 9-5 (GMT-4:00) Eastern Time (US and Canada). You should expect a target response times of no more than 24 hours for all requests that are not Level 1, 2, or 3 as outlined below.
        p.
            You chat with us at:

        div

        p.
            support at clipwise.com
        p.
            Level 1 - The Service is not functioning or is materially unavailable. The Service is not available to a majority of Users, or the production system is down, or all features/functions are unavailable. - Target Response Time is 2 hours.
        p.
            Level 2 - The Service is functioning, but with significant impairment. The Service is not available to a significant proportion of Users or a major area of the Service is not functioning. Target Response Time is 4 hours.
        p.
            Level 3 - The Service is functioning but with minor impairment. The Service is not available to a small proportion of Users or a specific area of the Service is not functioning. Target Response Time is 8 hours.
