section(class="canvas front" id="supportfront")

    div(class="content")
        
        h3 Support for Zoom

        div

        p.
            Last Updated: August 28, 2019
        h4 Anatomy + Zoom Integration Overview   
        p.
            Each time you complete a recorded meeting in Zoom, Anatomy will automatically:
