section(class="canvas front" id="supportfront")

    div(class="content")
        
        h3 Support for Zoom

        div

        p. 
        Last Updated: August 28, 2019
        h4 Anatomy <> Zoom Integration Overview   
        p.
            Each time you complete a recorded meeting in Zoom, Anatomy will automatically:
            
        li: Add the recording to a list for import.
        li: Store the recording with Anatomy when imported.
        li: Provide a page for recording playback (ffwd, rwd, speed adjustment) and video clip creation.
        li: Enable note-taking and/or creation of a self-recorded introductory video linked directly to the original recording.
        li: Generate a shareable & trackable URL for the imported recording + self recording + video clips + comments & likes.
        h4 Installation 
        p.
             How to install the Anatomy Zoom app:
        li: Navigate to Zoom marketplace at  https://marketplace.zoom.us
        li: Search for Anatomy and click the app.
        li: Click Sign in to Install and Login to your Zoom account.
        li: Confirm the permissions the app requires and choose Allow.
        li: You will see confirmation of Installation page.
        p.
            Anatomy is now installed on your Zoom account.
        p.
            Note: You or your Zoom admin would also need to enable Cloud recording downloads in [Zoom Account Management > Account Settings > Recording](https://zoom.us/account/setting?tab=recording) tab of the primary account.
        p.
            Every Zoom meeting recorded to the cloud will become available for import to your Anatomy account.
 
        p.     
            How to remove the Anatomy app:
        li: Login to your Zoom account and navigate to the Zoom marketplace
        li: Search for Anatomy and click the app or navigate to your authorized app via Manage Apps and choose Anatomy.
        li: Choose the Manage tab and click Remove.
        li: Confirm the dialogue and click OK.
        h4 Usage
        p.
            What can I do with the Anatomy Zoom app?
        li: Anatomy provides a dashboard to import selected Zoom recordings and view recent account activity.
        li: Each imported recording will provide a page for advanced playback, creation of multiple clips, private timestamped notes, and easy clip sharing.
        li: You can now collaborate with teammates, classmates, coaches, colleagues on key moments from your most important recordings and store for future use.
        h4 Prerequisites
        p.  
            Record to the cloud. Anatomy only works with Zoom if you record your meetings in the cloud.
        h4 Contact Support
        p.
            We’ve chosen Telegram Messaging as our primary communication channel since it now has over 300 million users and offers the most secure experience for our users. Learn more at: https://telegram.org/faq
        p.
            How to get in touch:
        li: Chat with us: https://t.me/anatomysupport
        li: Email: support@anatomy.one
        li: Phone: 646-809-2140
        
        div
