section(class="canvas front" id="supportfront")

    div(class="content")
        
        h3 Support for Zoom

        div

        p Last Updated: August 28, 2019
        h4 Anatomy + Zoom Integration Overview   
        h5 Each time you complete a recorded meeting in Zoom, Anatomy will automatically:
        p 1 - Add the recording to a list for import.
        p 2 - Store the recording with Anatomy when imported.
        p 3 - Provide a page for recording playback (ffwd, rwd, speed adjustment) and video clip creation.
        p 4 - Enable note-taking and/or creation of a self-recorded introductory video linked directly to the original recording.
        p 5 - Generate a shareable & trackable URL for the imported recording + self recording + video clips + comments & likes.
