section(class="canvas front" id="supportfront")

    div(class="content")
        
        h3 Support for Zoom

        div

        p Last Updated: August 28, 2019
        h4 Anatomy + Zoom Integration Overview    
        h5 Each time you complete a recorded meeting in Zoom, Anatomy will automatically:
        p.
            (1) Add the recording to a list for import. (2) Store the recording with Anatomy when imported. (3) Provide a page for recording playback (ffwd, rwd, speed adjustment) and video clip creation. (4) Enable note-taking and/or creation of a self-recorded introductory video that links directly to the original recording. (5) Generate a shareable & trackable URL for the imported recording + self recording + video clips + comments & likes by the recipients.
        h4 Installation
        h5 How to Install the Anatomy Zoom app
        p.
            (1) Navigate to Zoom marketplace. (2) Search for Anatomy and click the app. (3) Click Sign in to Install and Login to your Zoom account. (4) Confirm the permissions the app requires and choose Allow. (5) You will see confirmation of Installation page.
            
        div 
        
            a(href="https://marketplace.zoom.us") Zoom Marketplace 
            
        p.
            Anatomy is now installed on your Zoom account. Note: You or your Zoom admin would also need to enable Cloud recording downloads of the primary account. Every Zoom meeting recorded to the cloud will become available for import to your Anatomy account.
            
        div
        
            a(href="https://zoom.us/account/setting?tab=recording") Zoom Cloud Recording
            
        h5 How to remove the Anatomy app:
        p.
            (1) Login to your Zoom account and navigate to the Zoom marketplace. (2) Search for Anatomy and click the app or navigate to your authorized app via Manage Apps and choose Anatomy. (3) Choose the Manage tab and click Remove. (4) Confirm the dialogue and click OK.
        h4 Usage
        h5 What can I do with the Anatomy Zoom app?
        p.
            (1) Anatomy provides a dashboard to import selected Zoom recordings and view recent account activity. (2) Each imported recording will provide a page for advanced playback, creation of multiple clips, private timestamped notes, and easy clip sharing. (3) You can now collaborate with teammates, coaches, colleagues on key moments from your most important recordings and store for future use.
        h5 Prerequisites
        p.
            Record to the cloud. Anatomy only works with Zoom if you record your meetings in the cloud so please enable Cloud recording for your account.
        div
            
            a(href="https://zoom.us/account/setting?tab=recording") Zoom Cloud Recording
            
        h4 Contact
        p.
            Anatomy uses Telegram Messaging as its primary communication channel. With 200+ million subscribers and emphasis on speed and security, it offers the best possible support experience for our users. Learn more at: 
        div
        
            a(href="https://telegram.org/faq") Telegram Messaging FAQ
            
        p.
            Our support hours are Mon-Fri from 9-5 (GMT-4:00) Eastern Time (US and Canada). You should expect a target response times of no more than 24 hours for all requests that are not Level 1, 2, or 3 as outlined below. 
        p.
            You chat with us at: 
            
        div
                  
            a(href='https://t.me/anatomysupport') Anatomy Support via Telegram
            
        p.
            OR
        p.      
            support@anatomy.one | +1 646-809-2140.
        p. 
            Level 1 - The Service is not functioning or is materially unavailable. The Service is not available to a majority of Users, or the production system is down, or all features/fucntions are unavailable. - Target Response Time is 2 hours.
        p.
            Level 2 - The Service is functioning, but with significant impairment. The Service is not available to a significant proportion of Users or a major area of the Service is not functioning. Target Response Time is 4 hours.
        p.
            Level 3 - The Service is functioning but with minor impairment. The Service is not available to a small proportion of Users or a specific area of the Service is not functioning. Target Response Time is 8 hours.



        


